<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body class="front-page logged-out">
    <!-- START DIV DOC -->
    <div id="doc">
      <%= yield %>
      <%= render 'layouts/footer' %>
      </div>
      <!-- END DIV DOC -->
  </body>
</html>
